<%- include("partials/header") -%>

    <div class="content">
        <form action="/city" method="post">
        
            <div class="form-group">
              <label for="city">City name</label>
              <input type="text" name="city" class="form-control" id="city" placeholder="City name" required>
            </div>
            
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    </div>



<%- include("partials/footer") -%>