<%- include("partials/header") -%>
	<section class="home_content">	
			
			<div class="cards">
				
				<div class="card-deck">
					
						<div class="card" >
							<img class="card-img-top" src="images/images.png" alt="Card image cap">
							<div class="card-body">
								<a href="/zipcode"><h5 class="card-title">By zipcode and country code</h5></a>
							
							</div>
							
						</div>
			

					
						<div class="card">
							<img class="card-img-top" src="images/home.png" alt="Card image cap">
							<div class="card-body">
								<a href="/city"><h5 class="card-title">By city name</h5></a>
							</div>
						</div>

				</div>
				<small class="form-text text-muted">click on the text</small>
			</div>

<%- include("partials/footer") -%>

