<%- include("partials/header") -%>

    <div class="content">
        <form action="/zipcode" method="post">
        
            <div class="form-group">
              <label for="zip">Zip code</label>
              <input autocomplete="off" type="text" name="zip" class="form-control" id="zip" placeholder="Zip code" required>
			  <small id="zip" class="form-text text-muted">ex.396115 or LE5 3SA etc.</small>
            </div>
            <div class="form-group">
				<label for="country">Country code</label>
				<input autocomplete="off" type="text" name="country" class="form-control" id="country" placeholder="Country name" required>
				<small id="country" class="form-text text-muted">ex India:in ,UK:gb etc.</small>
			</div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    </div>



<%- include("partials/footer") -%>