header{
	background-color: lightgrey;
	height: 6.25rem;
	text-align: center;
	padding-top: 20px;
	font-family: 'Kalam', cursive;
}
footer{
	position: absolute;
	width: 100%;
	bottom: 0;
	background-color: lightgrey;
	height: 100px;
	text-align: center;
	padding: 1rem 0 5rem;
	height: 5rem;
}
.home_content{
	margin: 7.375rem 0;
	min-height: 100%;
}
.cards{
	width: 37.5rem;
	margin: auto;
	padding-bottom: 80px;
}
.cards small{
	text-align: center;
}
.card{
	width: 12.5rem;
}

.card img{
	height: 9.375rem;
	width: 9.375rem;
	margin: 1rem auto;
}

.card-body h5{
	text-decoration: none;	
	margin: auto;
	color: black;
	text-align: center;
}
.content{
	
	width: 37.5rem;
	margin: auto;
	padding-top: 12.5rem;
}
.details{
	width: 37.5rem;
	margin: auto;
	padding: 3rem 0;
	text-align: center;
	font-family: 'Courgette', cursive;
	font-size: 1.2rem;
}
.details img{
	height: 8rem;
	border:1px solid lightgray;
	border-radius: 20px;
	margin-bottom:10px; 
}
.details a{
	text-decoration: none;
	color: white;
}
.details a:hover{
	text-decoration: none;
	color: white;
}
@media screen and (max-width:480px){
	.content{
		margin: 2.375rem auto;
		min-height: 100%;
		width: fit-content;
		padding: 5rem 0;
	}
	.card{
		width: 10.5rem;
		margin-left: 5rem;
	}
	.details{
		width: 25.5rem;
		margin: auto;
		padding: 2rem 0;
		text-align: center;
		font-family: 'Courgette', cursive;
		font-size: 1.2rem;
	}
	.details a{
		text-decoration: none;
		color: white;
	}
	.details a:hover{
		text-decoration: none;
		color: white;
	}
	.cards small{
		margin-left: -15rem;
	}
	footer{
		position: relative;
		padding-bottom: 5rem;
	}
}